{% extends 'polls/base.html' %} 

{% block content %} 
{% if user %}
<h1><strong> {{user.username}} </strong></h1>
<img src="{{ MEDIA_URL }}{{user.profile.picture}}" alt="" width="100" height="100">
<div class="">
    <h2><strong> Biography </strong></h2>
    <p>
    {{user.profile.bio}}
    </p>
</div>
<div class="">
    <h2><strong> Location </strong></h2>
    <p>
    {{ user.profile.location }}
    </p>
</div>
<div class="">
    <h2><strong> Birthdate </strong></h2>
    <p>
    {{ user.profile.birthdate }}
    </p>
</div>
{% endif %}

{% if user.id != request.user.id %}

<a href="{% url 'polls:add_friend' user.id %}"> Send Friend Request</a>

{% endif %}


{% endblock %}